body {
  padding-top: 4.5rem;
}

div.content ul, div.content blockquote {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

blockquote {
  margin: 1em 40px;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

img {
  max-width: 100%;
  height: auto;
}

span.date {
  font-size: 90%;
  margin: 0 6px;
}

div.date {
  font-size: 90%;
  line-height: 20px;
}

div.post-header {
  margin: 20px 0;
}

div.post {
  margin: 20px 0 40px;
}

div.next {
  text-align: right;
}

.index-jumbotron {
  background-image: url(/markus-spiske-qjnAnF0jIGk-unsplash.jpg);
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 20px black;
  margin-top: -1rem;
  border-radius: 0;
}

.index-jumbotron h1.display-4 {
  font-weight: 500;
}

.nav-flex-icons {
  flex-direction: row;
}

@media (max-width: 767.98px) {
  .nav-flex-icons .nav-item {
    padding: 6px;
  }
}

.sidebar {
  font-size: 90%;
}

@media (min-width: 768px) {
  .sidebar {
    padding-left: 20px;
  }
  .sidebar hr {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .img-thumbnail {
    max-width: 200px;
  }
}

.sidebar h2 {
  font-size: 1rem;
  font-weight: normal;
  color: #a0a0a0;
  margin-top: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 20px;
}

.sidebar ul li {
  border-bottom: 1px dotted #e0e0e0;
  padding-bottom: 2px;
  margin-bottom: 8px;
}

h2 a {
  color: inherit;
}

.more-posts {
  margin: 20px 0;
}