body {
	padding-top: 70px;
}

@media (min-width: 900px) {
  .container {
    width: 900px;
  }
}

img {
	max-width: 100%;
}

span.date {
	font-size: 90%;
	margin: 0 6px;
}

div.date {
	font-size: 90%;
	margin: 10px 0;
}

div.post {
	margin: 20px 0;
	font-size: 17px;
}

div.next {
	text-align: right;
}