/* Based on http://jgthms.com/web-design-in-4-minutes/ */

@import 'https://fonts.googleapis.com/css?family=Merriweather';

body {
  margin: 0 auto;
	max-width: 50em;
	font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
	line-height: 1.65;
	padding: 0 1em;
	color: #566b78;
}

strong, b {
	color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
	padding: 1em;
	border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}

img {
	max-width: 100%;
}

span.date {
	font-size: 90%;
	margin: 0 6px;
}

div.date {
	font-size: 90%;
	margin: 10px 0;
}

div.post {
	margin: 20px 0 40px;
}

div.next {
	text-align: right;
}

div.footer {
	margin-top: 3em;
}

.text-muted {
	font-size: 90%;
	color: #aaa
}

nav ul {
	padding: 2px;
	background: #eee;
	font-size: 80%;
}

nav ul > li {
	display: inline-block;
}

nav ul > li:not(:first-child):before {
	content: " / ";
}