<!DOCTYPE html>
<html>
  <head>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-109410177-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/aw.css">
    <link rel="stylesheet" href="/fontawesome.min.css">
    {% feed_meta %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Alex Warren</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% assign links = site.data.navigation %}
                    {% for link in links %}
                        {% assign class = nil %}
                        {% if page.url == link.url or page.layout == link.layout %}
                            {% assign class = 'active' %}
                        {% endif %}
                        <li class="nav-item {{ class }}">
                            <a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                            {% if page.url contains link.url %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item"><a class="nav-link" href="https://twitter.com/alexwarren"><i class="fab fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/alexwarren/"><i class="fab fa-linkedin"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com/alexwarren"><i class="fab fa-github"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://stackoverflow.com/users/31280/alex-warren"><i class="fab fa-stack-overflow"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="mailto:alex@alexwarren.uk"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% if page.url == "/" %}
    <div class="jumbotron index-jumbotron">
        <div class="container">
            <h1 class="display-4">Alex Warren</h1>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md">
            {{content}}
            </div>
            <div class="col col-md-3 sidebar">
                <hr>
                <img src="/alex.jpg" class="img-thumbnail">
                <h2>My Sites</h2>
                <ul>
                    <li><a href="https://techdebtguide.com/">Technical Debt Guide</a></li>
                    <li><a href="https://keehar.com/">Keehar</a></li>
                </ul>

                <h2>Recent Posts</h2>
                <ul>
                {% for post in site.posts limit:5 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>

                <h2>Contact</h2>
                <ul>
                    <li>Email <a href="mailto:alex@alexwarren.uk">alex@alexwarren.uk</a></li>
                    <li>Twitter <a href="https://twitter.com/alexwarren">@alexwarren</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container footer">
        <hr>
        {% if page.url == "/" %}
        <div>
            Cover photo by Markus Spiske on Unsplash
        </div>
        {% endif %}
        <div>
            &copy; Alex Warren {{ site.time | date: '%Y' }}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
