---
layout: page
---

<h1>{{page.title}}</h1>

<div class="date">
{{ page.date | date: "%-d %B %Y" }}
</div>

{% if page.source == "textadventures" %}
<p class="text-muted">This post was originally published on the <a href="{{page.sourceUrl}}">textadventures.co.uk blog</a>.</p>
{% elsif page.source == "stackoverflow" %}
<p class="text-muted">This post was originally published on the <a href="{{page.sourceUrl}}">Stack Overflow blog</a>.</p>
{% elsif page.source == "gamasutra" %}
<p class="text-muted">This post was originally published on <a href="{{page.sourceUrl}}">Gamasutra</a>.</p>
{% endif %}

<div class="post">
{{content}}
</div>

<div>
    <div class="prev">
        {% if page.previous %}
        <a href="{{ page.previous.url }}">&lt; {{ page.previous.title }}</a>
        {% endif %}
    </div>
    <div class="next">
        {% if page.next %}
        <a href="{{ page.next.url }}">{{ page.next.title }} &gt;</a>
        {% endif %}
    </div>
</div>