---
layout: page
---

<div class="row justify-content-md-center">
    <div class="col">
        <h1>{{page.title}}</h1>

        <div class="post-header">
            <div class="date">
            {{ page.date | date: "%-d %B %Y" }}
            </div>
            
            {% if page.source == "textadventures" %}
            <div class="text-muted">This post was originally published on the <a href="{{page.sourceUrl}}">textadventures.co.uk blog</a>.</div>
            {% elsif page.source == "stackoverflow" %}
            <div class="text-muted">This post was originally published on the <a href="{{page.sourceUrl}}">Stack Overflow blog</a>.</div>
            {% elsif page.source == "trainline" %}
            <div class="text-muted">This post was originally published on the <a href="{{page.sourceUrl}}">Trainline Engineering blog</a>.</div>
            {% elsif page.source == "gamasutra" %}
            <div class="text-muted">This post was originally published on <a href="{{page.sourceUrl}}">Gamasutra</a>.</div>
            {% endif %}
        </div>

        <div class="post content">
            {{content}}
        </div>
    </div>
</div>

<ul class="pagination justify-content-center">
    {% if page.previous %}
    <li class="page-item"><a class="page-link" href="{{ page.previous.url }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    {% if page.next %}
    <li class="page-item"><a class="page-link" href="{{ page.next.url }}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
</ul>